*{
   margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root {
   --primary-color:rgb(255, 255, 255);
   --secondary-color:rgb(0, 0, 0);

}
.dark-theme{
    --primary-color:rgb(156, 179, 156);
   --secondary-color:rgb(255, 255, 255);


}
.navbar{
   margin-left: 25vh;

}
#position{
    position: relative;
}

.main{
    background-color: rgb(156, 179, 156);
    height: 100vh;
    
}
/* carousel */
.section1{
    display:flex;
    margin-left: 7%;
    margin-top: 10%;
}
.text{
    margin-left: 8%;
    /* margin-top: 10%; */
    font-family: sans-serif;
 
}
.text h1{
    font-size: 7rem;

}
.explore{
    background-color: rgb(86, 134, 86);
    padding: 10px 20px;
    border-radius: 8px;
    color:white ;
}


/* .homeimg{
    height: 90%;
    width: 90%;
} */

.carousel2{
    display: flex;
    margin-left: 7%;
    
}
.offering{
    margin-left: 8%;
    margin-top: 10%;
    font-family: sans-serif;
}
.p1{
  font-size: 3rem;  
}
.offering h1{
    font-size: 5rem;

}
.discover{
    background-color: rgb(137, 217, 137);
    padding: 10px 20px;
    border-radius: 25px;
    color: aliceblue;
}
.picture{
    /* height: 28%;
    width: 28%;
    margin-left: 15%; */
    margin-top: 5%;

}
/* end carousal */


/* section2 */
.about{
    display:flex;
    margin-left: 8%;
    /* margin-top: 10%; */
    height: 100vh;
}
.aboutimg{
    margin-left: 8%;
    margin-top: 10%; 
}
.aboutimg:hover{
    transform: scale(1.15)}
.text2{
    margin-left: 5%;
    margin-top: 10%;
}
.text2 h3{
    font-size: 4rem;
}

.tick{
    height: 4%;
    width: 4%;

}
.shop{
color: rgb(124, 180, 133);
}
.arrow{
    background-color: rgb(124, 180, 133);
}

/* end section2 */

/* card */
.productbutton{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    
  
}
.line::before{
content:"";
display: block;
width: 120px;
height: 2px;
background: rgb(110, 154, 110);
position: absolute;
margin-left: 30%;
margin-top: 2.3%;

}
.line::after{
    content:"";
    display: block;
    width: 120px;
    height: 2px;
    background: rgb(110, 154, 110);
    position: absolute;
    margin-right: 30%;
    margin-bottom: 0.5%;
    right:0;
    }
.product{
    margin-bottom: 20px;
   
}
.product h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 4rem;
}
.product .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(5rem,1fr) );
    margin-left: 15%;
    margin-right: 5%;
    padding-top: 50px;
}
/* .product .box-container .box{
    background: #FFFFFF;
    border-radius: 5rem;
    box-shadow: rgb(12, 12, 11);
    outline:#ffffff ;
    outline-offset: -1rem;
} */
/* .product .box-container .box:hover{
    outline:#ffffff ;
    outline-offset: -1rem;
} */
.product .box-container .box img{
    margin: 1rem 0;
    height: 12rem;
}
.product .box-container .box h3{
    font-size: 20px;
}
.product .box-container .box .price{
    font-size: 25px;
}
.product .box-container .box i{
    font-size: 20px;
    color: rgb(190, 228, 190);
}
.product .box-container .box i:hover{
    color:yellow;
}
/* end card */

/* Frequent Question Section  */
.plus{
    height: 3%;
    width: 3%;
}
h2{
    font-weight: 700;
    text-align: left;
    font-size: 3rem;
}
#question{
    margin-top: 5%;
}
.container{
    margin-top: 3%;
}
#frequent{
    margin-top: 5%;
}
.section-padding {
    padding:70px 0;
    background-color: rgb(156, 179, 156);
}
.faq .accordion-item{
    background-color: rgb(189, 244, 198);
   margin-bottom: 30px;
   border-color: transparent;
   box-shadow: 0 2px 6px rgb(74, 103, 79);
    /* padding: 10px 20px; */
}
#acc{
padding: 20px;
}
/* End Frequent Question Section  */

/* Form */

#mainform{
    margin-top: 10%;
}
#form{
    background-color: rgb(176, 234, 186);
   
    
}
#button{
    background-color: rgb(189, 244, 198);
    padding: 20px 40px;
    color: #FFFFFF;
    font-weight: bolder;
   margin-right: 50px;
}
#button:hover{
    background-color:rgb(97, 148, 97) ;
}

p{
    size: 12px;
    padding: 5px;
}

.form-control{
    height: 36px;
    background: #ffffff;
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none !important;
   
}
.contactForm .form-control{
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 0;
}
.form-control:focus, .form-control:active{
    border-color:rgb(156, 179, 156) ;
}
.bi{
    font-size: 40px;
    
}
/* End Form */

/* Team */
.Team{
    text-align: center;
    height: 80vh;
    margin-top: 200px;
    background-color: rgb(156, 179, 156);
    padding-top: 100px;
}

.Team-slider{
    outline:#000000 ;
    outline-offset: -5rem;
}
.Team .Team-slider:hover{
    outline:#faf7f7 ;
    outline-offset: 3rem;
}
.swiperwrapper{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(10rem,1fr));
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 50px;
}
.client{
    height: 50%;
    width: 50%;
}
/* End Team */
/* map */
#map{
    width: 100%;
    height:500px;
}
/* end map */
/* Footer css Start */
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
    margin-top: 10%;
  }
  .footer-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* color: rgb(0, 0, 0); */
    font-weight: 500;
    text-decoration: none;
  }
  .footer-logo i {
    /* color: rgb(3, 42, 3); */
    font-size: 1.2rem;
    font-weight: 300;
  }
  /* .footer-logo:hover {
    color: rgb(1, 49, 5);
  } */
  .footer-description {
    font-size: 30px;
    font-weight: 500;
    /* color: black; */
    margin-bottom: 50px;
  }
  .footer-form {
    display: flex;
    background-color: rgb(97, 148, 97);
    padding: 0.7rem;
    border-radius: 0.5rem;
  }
  .footer-input {
    padding-right: 0.7rem;
  }
  .footer-form .btn {
    padding: 0.8rem;
    background-color: rgb(60, 112, 60);
    color: #FFFFFF;
  }
  .footer-address {
    display: grid;
    gap: 0.5rem;
  }
  .footer-tel {
    /* color: black; */
    margin-bottom: 100px;
    transition: 0.3s;
  }
  .footer-social {
    display: flex;
    gap: 0.5rem;
  }
  .footer-social-icon {
    color: rgb(56, 93, 56);
    font-size: 1.2rem;
    transition: 0.3s;
  }
  .footer-tel:hover,
  .footer-social-icon:hover {
    transform: translateY(-5px);
    color: white;
  }
  .footer-cards {
    display: flex;
    gap: 0.5rem;
  }
  .fcard {
    width: 40px;
  }
  .footer-copy {
    margin-top: 7rem;
    text-align: center;
    font-size: 20px;
  }

  /* end Fotter css */

/* responsive */
/* @media only screen and (max-width: 600px){
    .container{
        width: 100% !important;
        padding: 207px !important;
    }
} */
/* end responsive */









